*{
    margin: 0;
    scroll-behavior: smooth; 
}
.nav{
    height: 7vh;
    width: 100%;
    background-color: blueviolet;
    position: relative;
    text-align: center;
    justify-content: center;
}
.nav a{
    
    padding: 30px;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
    color: black;
}
.logo img{
    height: 64px;
    width: 64px;
    float: left;
    margin-top: 3px;
    margin-left: 2px;
}
.logo a{
    padding: 0;
    
}
.bot{
    justify-content: flex-end;
    height: 12vh;
    width: 100%;
    background-color: lightslategray;
}
.content{
    width: 100%;
    height: 150vh;
    background-color: violet;
    text-align: center;
    justify-content: center;
}
.about{
    width: 100%;
    height: 150vh;
    background-color: red;
}
.about img{
    width: 70%;
}
a{
    text-decoration: none;
}
.iframe{
    justify-content: flex-end;
}
ol li a{
    font-size: 40px;
    color: black;
}
a:hover{
    color: red;
    font-size: 50px;
}